.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
.nav-button {
  display: flex;
  gap: 10px;
}

.fa-user {
  margin-right: 5px;
}

.fa-circle-user {
  margin-right: 5px;
  height: 18px;
}