.flex {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.edit-button {
    width: 112px;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }